<% layout("./layouts/boilerplate.ejs") %> <%-include("./partials/alerts.ejs") %>
<link rel="stylesheet" href="/css/newBlog.css" />

<script src="//js.nicedit.com/nicEdit-latest.js"></script>
<script type="text/javascript">
    bkLib.onDomLoaded(function () {
        new nicEditor().panelInstance("blog[summary]");
    });
</script>

<main class="container">
    <form action="/blog/<%=blog._id %>/edit?_method=PUT" method="POST">
        <div class="input-group mb-3 title">
            <span class="input-group-text" id="basic-addon3">Title</span>
            <input type="text" class="form-control input-title" id="basic-url"
            aria-describedby="basic-addon3" name="blog[title]" value="<%= blog ?
            blog.title : ""%>" />
        </div>
        <div class="form-floating mb-2">
            <textarea
                class="form-control summary"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 100px"
                name="blog[summary]"
            >
<%=blog ? blog.summary : ""%></textarea
            >
            <label for="floatingTextarea2">Summary</label>
        </div>
        <textarea name="blog[body]" id="editor">
<%- blog ? blog.body : ""%></textarea
        >
        <button class="btn btn-success mt-3 submit">Submit</button>
    </form>
</main>
